section{

    display:flex;
    
    
}
.half-width{

    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
    
    
}
body{

    font-family: 'Poppins',sans-serif;
}
h1{
  
    font-size: 53px;
    
}
span{

    color: orange;
}
.link-button{
    color : white;
    background-color: rgb(240, 70, 23);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(240, 70, 23), orange);
    
}